.underline {
    width: 70px;
    height: 5px;
    background-color: #16a085;
    margin: 0 auto;
}
.items-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 70px;
    grid-row-gap: 30px;
}

@media only screen and (max-width: 992px) {
    .items-grid {
        grid-template-columns: repeat(2, 1fr); 
    }
}
@media only screen and (max-width: 767px) {
    .items-grid {
        grid-template-columns: repeat(1, 1fr); 
    }
}