.about {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-gap: 20px;
   align-items: center; 
}
.about-img img{
    width: 90%;
}
@media only screen and (max-width: 992px) {
    .about {
        grid-template-columns: repeat(1, 1fr);
     }
}