.item-card {
    width: 300px;
    padding: 8px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.item-card img {
    cursor: pointer;
    transition: all .6s ease-in-out;
}
.item-card img:hover  {
    transform: rotatey(180deg);
}
.item-info {
    line-height: 18px;
}
.btn-update{
    padding: 8px 20px;
    font-size: 14px;
    font-family: sans-serif;
    color: #333;
    border: 2px solid #333;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .35s;
  }
  
.btn-update span{
    position: relative;
    z-index: 2;
}
  
.btn-update:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #16a085;
    transition: all .35s;
}
  
.btn-update:hover{
    color: #fff !important;
}
  
.btn-update:hover:after{
    width: 100%;
}