.grid-perfect {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    margin-bottom: 30px;
}
.perfect {
    background-color: rgb(236, 243, 252);
    border-radius: 15px;
    padding: 10px;
    line-height: 20px;
}